.deals-manager {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

.deals-manager-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1vh;
}

.deals-manager-buttons button {
  position: relative;
  padding: 0.05rem 1rem;
  background-color: #fff;
  color: #007bff;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 150px; /* Ensures each button is of equal size */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 10px; /* Space between text and icon */
  flex-grow: 1;
}

.deals-manager-buttons button.active {
  background-color: #007bff;
  color: #fff;
}

.deals-manager-buttons button:hover {
  background-color: #005bb5;
  color: #fff;
}

/* Icon Styles */
.deals-manager-buttons button .icon {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.deals-manager-buttons button.done {
  background-color: #28a745; /* Green for Done */
  color: #fff;

  &:hover {
    background-color: #248e3d; /* Green for Done */
  }
}

.deals-manager-buttons button.done.active {
  background-color: #218838;
}

.deals-manager-buttons button.buyer {
  background-color: #ffc107; /* Yellow for Buyer Request */
  color: #fff;
  &:hover {
    background-color: #d9a405; /* Yellow for Buyer Request */
  }
}

.deals-manager-buttons button.buyer.active {
  background-color: #e0a800;
}

.deals-manager-buttons button.your {
  background-color: #007bff; /* Blue for Your Request */
  color: #fff;
  &:hover {
    background-color: #076ad5; /* Blue for Your Request */
  }
}

.deals-manager-buttons button.your.active {
  background-color: #0056b3;
}

/* Dropdown Container */
.deals-manager-container {
  position: absolute;
  top: 142px;
  left: 0;
  width: 100%;
  min-height: 22px;
  max-height: 300px;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 100;
}

/* Responsive Adjustments */
@media (max-width: 576px) {
  .deals-manager-buttons button {
    min-width: 120px;
    font-size: 0.875rem;
    padding: 0.05rem 0.75rem;
  }

  .deals-manager-buttons {
    gap: 0.75rem; /* Reduced gap for smaller screens */
  }

  .deals-manager-container {
    max-height: 250px; /* Adjust the height for mobile */
  }
}

/* Notification Badge */
.matched-deals-manager .deals-manager-buttons .notification-badge {
  position: absolute;
  top: -7px; /* Adjusts the badge slightly above the top border */
  right: -8px; /* Adjusts the badge slightly to the right */
  background-color: red;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

@media screen and (max-width: 432px) {
  .deals-manager-container {
    top: 180px;
  }
}
@media screen and (min-width: 640px) {
  .deals-manager-container {
    top: 96px;
  }
}

@media screen and (min-width: 768px) {
  .deals-manager-container {
    top: 94px;
  }
}

@media screen and (min-width: 894px) {
  .deals-manager-container {
    top: 50px;
  }
}
