
:root {
    --color-primary: rgb(93 87 145);
    --color-surface-tint: rgb(93 87 145);
    --color-on-primary: rgb(255 255 255);
    --color-primary-container: rgb(228 223 255);
    --color-on-primary-container: rgb(25 18 73);
    --color-secondary: rgb(95 92 113);
    --color-on-secondary: rgb(255 255 255);
    --color-secondary-container: rgb(228 223 249);
    --color-on-secondary-container: rgb(27 25 44);
    --color-tertiary: rgb(123 82 102);
    --color-on-tertiary: rgb(255 255 255);
    --color-tertiary-container: rgb(255 216 232);
    --color-on-tertiary-container: rgb(48 17 34);
    --color-error: rgb(186 26 26);
    --color-on-error: rgb(255 255 255);
    --color-error-container: rgb(255 218 214);
    --color-on-error-container: rgb(65 0 2);
    --color-background: rgb(252 248 255);
    --color-on-background: rgb(28 27 32);
    --color-surface: rgb(252 248 255);
    --color-on-surface: rgb(28 27 32);
    --color-surface-variant: rgb(229 225 236);
    --color-on-surface-variant: rgb(71 70 79);
    --color-outline: rgb(120 118 128);
    --color-outline-variant: rgb(201 197 208);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(49 48 54);
    --color-inverse-on-surface: rgb(244 239 247);
    --color-inverse-primary: rgb(198 191 255);
    --color-primary-fixed: rgb(228 223 255);
    --color-on-primary-fixed: rgb(25 18 73);
    --color-primary-fixed-dim: rgb(198 191 255);
    --color-on-primary-fixed-variant: rgb(69 64 119);
    --color-secondary-fixed: rgb(228 223 249);
    --color-on-secondary-fixed: rgb(27 25 44);
    --color-secondary-fixed-dim: rgb(200 195 220);
    --color-on-secondary-fixed-variant: rgb(71 68 89);
    --color-tertiary-fixed: rgb(255 216 232);
    --color-on-tertiary-fixed: rgb(48 17 34);
    --color-tertiary-fixed-dim: rgb(236 184 207);
    --color-on-tertiary-fixed-variant: rgb(97 59 78);
    --color-surface-dim: rgb(221 216 224);
    --color-surface-bright: rgb(252 248 255);
    --color-surface-container-lowest: rgb(255 255 255);
    --color-surface-container-low: rgb(246 242 250);
    --color-surface-container: rgb(241 236 244);
    --color-surface-container-high: rgb(235 230 239);
    --color-surface-container-highest: rgb(229 225 233);
  }
  
  /* Dark Theme */
  [data-theme="dark"] {
      --color-primary: rgb(198 191 255);
      --color-surface-tint: rgb(198 191 255);
      --color-on-primary: rgb(47 41 95);
      --color-primary-container: rgb(69 64 119);
      --color-on-primary-container: rgb(228 223 255);
      --color-secondary: rgb(200 195 220);
      --color-on-secondary: rgb(48 46 65);
      --color-secondary-container: rgb(71 68 89);
      --color-on-secondary-container: rgb(228 223 249);
      --color-tertiary: rgb(236 184 207);
      --color-on-tertiary: rgb(72 37 55);
      --color-tertiary-container: rgb(97 59 78);
      --color-on-tertiary-container: rgb(255 216 232);
      --color-error: rgb(255 180 171);
      --color-on-error: rgb(105 0 5);
      --color-error-container: rgb(147 0 10);
      --color-on-error-container: rgb(255 218 214);
      --color-background: rgb(20 19 24);
      --color-on-background: rgb(229 225 233);
      --color-surface: rgb(20 19 24);
      --color-on-surface: rgb(229 225 233);
      --color-surface-variant: rgb(71 70 79);
      --color-on-surface-variant: rgb(201 197 208);
      --color-outline: rgb(146 143 153);
      --color-outline-variant: rgb(71 70 79);
      --color-shadow: rgb(0 0 0);
      --color-scrim: rgb(0 0 0);
      --color-inverse-surface: rgb(229 225 233);
      --color-inverse-on-surface: rgb(49 48 54);
      --color-inverse-primary: rgb(93 87 145);
      --color-primary-fixed: rgb(228 223 255);
      --color-on-primary-fixed: rgb(25 18 73);
      --color-primary-fixed-dim: rgb(198 191 255);
      --color-on-primary-fixed-variant: rgb(69 64 119);
      --color-secondary-fixed: rgb(228 223 249);
      --color-on-secondary-fixed: rgb(27 25 44);
      --color-secondary-fixed-dim: rgb(200 195 220);
      --color-on-secondary-fixed-variant: rgb(71 68 89);
      --color-tertiary-fixed: rgb(255 216 232);
      --color-on-tertiary-fixed: rgb(48 17 34);
      --color-tertiary-fixed-dim: rgb(236 184 207);
      --color-on-tertiary-fixed-variant: rgb(97 59 78);
      --color-surface-dim: rgb(20 19 24);
      --color-surface-bright: rgb(58 56 62);
      --color-surface-container-lowest: rgb(14 14 19);
      --color-surface-container-low: rgb(28 27 32);
      --color-surface-container: rgb(32 31 37);
      --color-surface-container-high: rgb(42 41 47);
      --color-surface-container-highest: rgb(53 52 58);
  }


h1 {
    color: var(--color-primary); 
}

body {
    background-color: var(--color-background); 
    color: var(--color-on-background); 
}

[data-theme="dark"] {
    h1 {
        color: var(--color-primary); 
    }
    body {
        background-color: var(--color-background); 
        color: var(--color-on-background); 
    }
}